html {
  height: 100%;
  width: 100%;
  background-color: #282828;
}

.logo {
  width: 100%; /* La largeur de l'image est égale à 100% de son conteneur */
  height: auto; /* Laisse la hauteur ajustée automatiquement pour conserver les proportions */
}